.loader-container {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(50px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
}

.logo {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-template-rows: repeat(2, 80px);
  gap: 0;
  transform: scale(1);
  animation: pulse 3s ease-in-out infinite;
}

.shape {
  width: 80px;
  height: 80px;
  background: #fff;
}

.top-left {
  border-radius: 100% 100% 100% 0 !important;
  animation: pulse 3s ease-in-out infinite;
}
.top-right {
  border-radius: 0 100% 100% 100% !important;
  animation: pulse 3s ease-in-out infinite;
}
.bottom-left {
  border-radius: 100% 100% 0 100% !important;
  animation: pulse 3s ease-in-out infinite;
}
.bottom-right {
  border-radius: 100% 0 100% 100% !important;
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
}
